# PostgreSQL
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=fittrackdb

# API
DATABASE_URL=postgresql://postgres:postgres@localhost:5433/fittrackdb
JWT_SECRET="{generate niyo sa terminal, tanggalin niyo lng \: node -e \"console.log(require('crypto').randomBytes(64).toString('hex'))\"}"

# Email
GMAIL_USER="{gmail niyo}"
GMAIL_APP_PASSWORD="{generate kayo through App Passwords sa gmail, lagay niyo "FitTrack" para gumawa ng code tas paste niyo dito}"

# Twilio
TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
TWILIO_PHONE_NUMBER=

# App
APP_NAME=FitTrack
OTP_EXPIRY_MINUTES=5